@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    background: #0c0c0c;
    color: #DDDDDD;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

::selection {
    background: gray;
    color: white;
}

.react-datepicker-wrapper {
    width: 100%
}

.ql-editor .ql-blank {
    height: 11rem!important;
}

footer {
    width: 100%;
}